@model BlackRockEvents.Models.Professional
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <h1 class="text-center">Delete Professional</h1>
    <hr />
    <div class="text-right">
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
    <h3 class="text-center">Are you sure you want to delete this?</h3>
    <div class="text-center">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProfessionName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProfessionName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhotoName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhotoName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </dl>  
        <form asp-action="ConfirmDelete" asp-route-id="@Model.Professional_Id">
            <input type="hidden" asp-for="Professional_Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>
